
tbody,
tr,
td {
  border: none !important;
}

tbody:nth-child(odd) {
  background-color: rgb(252, 252, 252);
}

tbody:nth-child(even) {
  background-color: rgb(243, 237, 237);
}

table {
  border: 2px solid black !important;
}
